<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="./styles/styles.css"
      <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Resume</title>
  </head>
  <body>
    <!--Main-->
    <div class="main">
      <!--Main content-->
      <div class="Main-content">
        <!--about user-->
        <div class="about">
          <h1 class="about-name">Ievgen Plakhotniuk</h1>

          <h2 class="about-position">Front-End Developer</h2>
          <h3 class="title">Summary</h3>

          <p class="about-discription">
            I am a Junior Frontend Developer with about six months of practice experience, during
            which I performed both individual and team projects using technologies such as HTML5,
            CSS3, SASS, GIT, JavaScript, React, Webpack Parcel, Trello, Figma, etc. I had the
            opportunity to hold the position of Scrum master on one of the projects. I am currently
            looking for a job as a front-end developer in a company with the possibility to work
            remotely
          </p>
        </div>

        <!--projects-->
        <div class="projects">
          <h3 class="title">Projects</h3>
          <ol class="projects-list">

            <li class="projects-title">
              <span class="project">
                <a href='https://kenobiwins.github.io/team-project-filmoteka/' class="project-link"
                  >Film library</a
                >
                <!-- .......... -->
                 <span class="project">
                <a href='https://github.com/kenobiwins/team-project-filmoteka' class="project-link"
                  >(Github link)</a>
                ..........
                <span class="project-brecket">[</span> HTML5, SASS, JS, GIT
                <span class="project-brecket">]</span>
              </span>
              <p >Role: Scrum master,developer</p>
 <p>I also participated in the development of the site for viewing video content "FILM LIBRARY". This app for your relax and opportunity spend time with friends or family. 
Our team used JavaScript, REST API, Handlebars, Parcel skills to develop this site</p>
            </li>

            <li class="projects-title">
              <span class="project">
                <a href='https://kenobiwins.github.io/ice-cream/' class="project-link"
                  >ICE-CREAM</a
                >
                <!-- .......... -->
                 <span class="project">
                <a href='https://github.com/kenobiwins/ice-cream' class="project-link"
                  >(Github link)</a
                >
                ..........
                <span class="project-brecket">[</span> HTML5, SASS, JS, GIT, FIGMA
                <span class="project-brecket">]</span>
              </span>
              <p >Role: developer</p>
 <p>Participated in the development of an ICE CREAM site.
   This application can use any ice cream shop, where u can saw products and ordered ice cream.
In the development of this site, our team used skills in HTML5, CSS3, SASS, GIT, Parcel.</p>
            </li>

            <li class="projects-title">
              <span class="project">
                <a href='https://ievsepl.github.io/goit-react-hw-04-images/' class="project-link"
                  >IMAGE FINDER</a
                >
                <!-- .......... -->
                 <span class="project">
                <a href='https://github.com/ievsepl/goit-react-hw-04-images' class="project-link"
                  >(Github link)</a
                >
                ..........
                <span class="project-brecket">[</span> HTML5, SASS, JS, GIT, REACT
                <span class="project-brecket">]</span>
              </span>

              <p >Role: developer(my own project)
</p>
 <p>I also have my own website project for searching pictures. 
  U can find any picture U want just to write some tag in search pannel.</p>
            </li>

            <li class="projects-title">
              <span class="project">
                <a href='https://ievsepl.github.io/goit-markup-hw-08/' class="project-link"
                  >WEB STUDIO</a
                >
                <!-- .......... -->
                 <span class="project">
                <a href='https://github.com/ievsepl/goit-markup-hw-08' class="project-link"
                  >(Github link)</a
                >
                ..........
                <span class="project-brecket">[</span> HTML5, SASS, JS, GIT
                <span class="project-brecket">]</span>
              </span>

               <p >Role: developer(my own project)
</p>
 <p>Performed my own project WEB STUDIO as html layout of the website
   for the design team in the development of this site with modal for 
   feedback and multiple pages application., I used skills in HTML5, CSS3, SASS, GIT.</p>
            </li>
           
          </ol>
        </div>

        <!--Work-->
        <div class="work">
          <h3 class="title">Work Experience</h3>
          <ul>

          <!--Company 1-->

            <li class="work-list">
              <p class="organization">Freelance</p>
              <p class="period">May 2017 - up to now <span class="line">|</span> Ukraine and Europe</p>

              <h4 class="work-position">Yacht-Skipper</h4>
 <p class="work-list-item">Organization of Sailing-trips in Europe.</p>
              <p class="work-list-item">Master class in sailing yacht management</p>
              <p class="work-list-item">Sail trips in Ukraine</p>
              <p class="work-list-item">Writing sites.</p>
              <!-- <p class="work-list-item"> -->
                <!-- My main task is the detailed organization of yacht trips, starting from buying plane tickets, 
                ending with teaching tourists the basics of sailing during the trip. I also acted as a skipper-instructor
                 on trips that were organized specifically to teach young skippers how to operate a sailing vessel.
                
                I also organize tourist and educational trips under sail in Ukraine -->
               
              <!-- </p> -->
            </li>

            <!--Company 2-->
            <li class="work-list">
              <p class="organization">National aviation univesity</p>
              <p class="period">February 2018 -up to now <span class="line">|</span> Kyiv, Ukraine</p>

              <h4 class="work-position">Director of the sailing marina</h4>
              <!-- <p class="work-list-item"> -->
                <!-- The main task is managing the marina, namely concluding contracts with marina users, monitoring
                 the work of marina employees. I also organize sailing competitions and long-distance sports trips. 
                 I consider the increase in the number of marina users to be my main achievement due to the improvement 
                 of the marina users' stay. -->
              <!-- </p> -->
              <p class="work-list-item">Management of the Yacht Club.</p>
              <p class="work-list-item">Work with members of the Yacht Club.</p>
              <p class="work-list-item">Organization of sailing competitions.</p>
            </li>
            
          <!--Company 3-->

            <li class="work-list">
              <p class="organization">UkrSpecSystems</p>
              <p class="period">May 2017 - February 2018 <span class="line">|</span> Ukraine</p>

              <h4 class="work-position">Drone engineer</h4>

              <p class="work-list-item">Description of technological processes.</p>
              <p class="work-list-item">Development of documentation.</p>
              <p class="work-list-item">Production of unmanned aerial systems.</p>
            
            </li>

            <!--Company 4-->
            <li class="work-list">
              <p class="organization">National aviation univesity</p>
              <p class="period">November 2013 - May 2017 <span class="line">|</span> Ukraine</p>

              <h4 class="work-position">Drone design engineer</h4>

              <p class="work-list-item">
                Production of design drawings.
              </p>
              <p class="work-list-item">
                Production of unmanned aerial systems.
              </p>

              <p class="work-list-item">
                Development of documentation.
              </p>

              <p class="work-list-item">
                Organization of production work.
              </p>
            </li>

          </ul>
        </div>

        <!--Education-->

        <div class="education">
          <h3 class="title">Education</h3>
          <ul>
            <li>
              <h4 class="place-of-education">GoIT academy</h4>
              <p class="years-of-education">June 2022 - April 2023<span class="line-edu">|</span> Ukraine</p>

              <h4 class="name-of-education">Full Stack Developer</h4>
            </li>

            <li>
              <h4 class="place-of-education">National aviation University</h4>
              <p class="years-of-education">2005-2010 <span class="line-edu">|</span> Ukraine</p>
              <h4 class="name-of-education">Master's degree of Air traffic controller</h4>

              <h4 class="name-of-education">Studied courses:</h4>
              <ul class="ul">
                <li>Air navigation</li>
                <li>Aerodynamics</li>
                <li>Aviation meteorology</li>
                <li>Aircraft constructions</li>
                <li>Simulator training</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!--Sidebar-->
      <aside class="sidebar">
        <!-- <img src="../img/Natali.jpg" alt="user's photo" width="150" class="photo" /> -->
        
        <!--Contact-->
        <div class="contacts">
          <h3 class="sidebar-title">Contacts</h3>
          <div>
            <ul>
              <li class="contact-list">
                <span class="contact-type">
                  <svg width="20" height="20">
                    <use href="../img/icons.svg#icon-mobile"></use>
                  </svg>
                </span>
                <a href="tel:+380970215563" class="contact-link">+380970215563</a>
              </li>
              <li class="contact-list">
                <span class="contact-type">
                  <svg width="20" height="20">
                    <use href="../img/icons.svg#icon-mail"></use>
                  </svg>
                </span>
                <a href="mailto:ievsepl@gmail.com" class="contact-link">ievsepl@gmail.com</a>
              </li>

              <li class="contact-list">
                <span class="contact-type">
                  <svg width="20" height="20">
                    <use href="../img/icons.svg#icon-telegram"></use>
                  </svg>
                </span>
                <a href="http://t.me/IevgenPlakhotniuk" class="contact-link">Telegram</a>
              </li>
              <li class="contact-list">
                <span class="contact-type">
                  <svg width="20" height="20">
                    <use href="../img/icons.svg#icon-home"></use>
                  </svg>
                </span>
                <a href="mailto:ievsepl@gmail.com" class="contact-link">Ukraine, Kyiv</a>
              </li>

              <li class="contact-list">
                <span class="contact-type">
                  <svg width="20" height="20">
                    <use href="../img/icons.svg#icon-linkedin"></use>
                  </svg>
                </span>
                <a href="https://www.linkedin.com/in/ievgen-plakhotniuk/" class="contact-link">Linkedin</a>
              </li>

              <li class="contact-list">
                <span class="contact-type">
                  <svg width="20" height="20">
                    <use href="../img/icons.svg#icon-github"></use>
                  </svg>
                </span>
                <a href="https://github.com/ievsepl?tab=repositories" class="contact-link">Github</a>
              </li>
            </ul>
          </div>
        </div>
        <!--Tech Skills-->
        <div class="tech-skills">
          <h3 class="sidebar-title">Tech Skills</h3>
          <ul class="tech-skills-list">
           <li class="tech-skills-item"><span class="tech-skills-list">HTML5</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">CSS3</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">SASS</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">GIT</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">WebPack</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">JavaScript</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">React.js</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">React Native</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">Redux</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">TypeScript</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">Handlebars</span></li>
           <li class="tech-skills-item"><span class="tech-skills-list">Figma</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">Trello</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">Parcel</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">Node.js</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">NoSQL</span></li>
            <li class="tech-skills-item"><span class="tech-skills-list">Rest API</span></li>


          </ul>
        </div>

        <!--Soft Skills-->
        <div class="soft-skills">
          <h3 class="sidebar-title">Soft Skills</h3>
          <ul class="soft-skills-list">
            <li class="soft-skills-item"><span class="soft-skills-list">Responsible</span></li>
            <li class="soft-skills-item"><span class="soft-skills-list">Stress resistant</span></li>
            <li class="soft-skills-item"><span class="soft-skills-list">Teamwork</span></li>
            <li class="soft-skills-item"><span class="soft-skills-list">Fast learning</span> </li>
            <li class="soft-skills-item"><span class="soft-skills-list">Analytical thinking</span></li>
            <li class="soft-skills-item"><span class="soft-skills-list">Leadership</span></li>

          </ul>
        </div>
        <!--Language-->
        <div class="soft-skills">
          <h3 class="sidebar-title">Languages</h3>
          <ul class="soft-skills-list">
            <li class="soft-skills-item">
              <span span class="soft-skills-list"> Ukrainian - native</span>
            </li>
            <li class="soft-skills-item">
              <span span class="soft-skills-list">Russian - native</span>
            </li>
            <li class="soft-skills-item">
              <span span class="soft-skills-list">English - intermediate</span>
            </li>
            <li class="soft-skills-item">
              <span span class="soft-skills-list">Italian - basic user</span>
            </li>
          </ul>
        </div>

        <div class="soft-skills">
          <h3 class="sidebar-title">Hobbies</h3>
          <ul class="soft-skills-list">
            <li class="soft-skills-item"><span class="soft-skills-list">Sailing</span></li>
            <li class="soft-skills-item"><span class="soft-skills-list">Reading books</span></li>
          </ul>
        </div>
      </aside>
    </div>
  </body>
</html>
