<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <title>Resume</title>
</head>

<body>
    <!--Main-->
    <div class="main">
        <!--Main content-->
        <div class="Main-content">
            <!--about user-->
            <div class="about">
                <h1 class="about-name">Nataliia Plakhotniuk</h1>

                <!-- <h2 class="about-position">Air traffic controller</h2> -->
                <!-- <h3 class="title">Summary</h3> -->

                <!-- <p class="about-discription">
            I started my career as an air traffic controller(ATC) in 2014, when I got my license.
            Since then, my main task has been to provide safety of air traffic flow and make it more
            efficient and organized. I am currently looking for a job as air traffic controller or
            something else,maybe position in aviation which can help me to increase my level which
            will allow me to develop and grow in this field of activity.
          </p> -->
            </div>

            <!--Work-->
            <div class="work">
                <h3 class="title">Work Experience</h3>
                <!--Company 1-->
                <ul>
                    <li class="work-list">
                        <p class="organization">ICAN Network (Peace unites women of Ukraine) managed by Women
                            Information
                            Coordination Centre (WICC)</p>
                        <p class="period">2021 - up to now <span class="line">|</span> Kyiv,Ukraine</p>

                        <h4 class="work-position">Network coordinator</h4>

                        <p class="work-list-item">
                            Implementation, collection and constant updating of the database of existing organisations
                            working on women, peace and
                            security issues.
                            Providing an environment for communication and coordination on women, peace and security
                            issues for all those involved
                            in this area.
                            Operational and organisational planning within the network's projects;
                            Preparation and development of network documents
                            Collecting statistical information for reports on the network's activities
                            Communication with project partners and participants of the network's events.
                            Logistics management
                        </p>
                    </li>
                    <li class="work-list">
                        <p class="organization">Ukraine state air traffic service enterprise(UKSATSE)</p>
                        <p class="period">2014 - up to now <span class="line">|</span> Boryspil,Ukraine</p>

                        <h4 class="work-position">Air traffic controller</h4>

                        <p class="work-list-item">
                            Handling traffic in terminal area of Boryspil and Zhuliany (Kyiv) airports. Prevent
                            collisions between aircraft in airspace. Issue control instructions to aircraft within
                            assigned airspace for the safe and expeditious flow of air traffic. Apply vertical
                            and lateral separation minima to aircraft climbing or descending. Apply vectors
                            to aircraft if necessary for safe separation between them. Provide current and
                            forecasted weather phenomena to aircraft using such meteorological reports as
                            METAR and SIGMET.
                        </p>
                    </li>
                    <!--Company 2-->
                    <li class="work-list">
                        <p class="organization">Ukraine state air traffic service enterprise</p>
                        <p class="period">2012 - 2014 <span class="line">|</span> Boryspil,Ukraine</p>

                        <h4 class="work-position">Instructur of simulator training</h4>
                        <p class="work-list-item">
                            During this work experience my task was to perform all air traffic controller
                            instructions while simulation exercise is running. Such exercises ware created for
                            professional trainings of air traffic controllers. Exercises include visualization of
                            simulated air traffic flow with a lot of targets.
                        </p>
                    </li>
                </ul>
            </div>
            <!--Education-->
            <div class="education">
                <h3 class="title">Education</h3>
                <ul>
                    <li>
                        <h4 class="place-of-education">Aerolingva</h4>
                        <p class="years-of-education">2021<span class="line-edu">|</span> Ukraine</p>

                        <h4 class="name-of-education">Certificate: 4 th level of ICAO</h4>
                    </li>
                    <li>
                        <h4 class="place-of-education">National aviation University</h4>
                        <p class="years-of-education">2006-2011 <span class="line-edu">|</span> Ukraine</p>
                        <h4 class="name-of-education">Diploma of air traffic controller</h4>

                        <h4 class="name-of-education">Studied courses:</h4>
                        <ul class="ul">
                            <li>Air navigation</li>
                            <li>Aerodynamics</li>
                            <li>Aviation meteorology</li>
                            <li>Automatic air traffic control systems</li>
                            <li>Simulator training</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--Sidebar-->
        <aside class="sidebar">
            <!-- <img src="../img/Natali.jpg" alt="user's photo" width="150" class="photo" /> -->
            <!--Contact-->
            <div class="contacts">
                <h3 class="sidebar-title">Contacts</h3>
                <div>
                    <ul>
                        <li class="contact-list">
                            <span class="contact-type">
                                <svg width="20" height="20">
                                    <use href="../img/icons.svg#icon-mobile"></use>
                                </svg>
                            </span>
                            <a href="tel:+380970215563" class="contact-link">+380978275201</a>
                        </li>
                        <li class="contact-list">
                            <span class="contact-type">
                                <svg width="20" height="20">
                                    <use href="../img/icons.svg#icon-mail"></use>
                                </svg>
                            </span>
                            <a href="mailto:ievsepl@gmail.com" class="contact-link">planataliia@gmail.com</a>
                        </li>
                        <li class="contact-list">
                            <span class="contact-type">
                                <svg width="20" height="20">
                                    <use href="../img/icons.svg#icon-telegram"></use>
                                </svg>
                            </span>
                            <a href="http://t.me/NataliiaPlakhotniuk" class="contact-link">Telegram</a>
                        </li>
                        <li class="contact-list">
                            <span class="contact-type">
                                <svg width="20" height="20">
                                    <use href="../img/icons.svg#icon-home"></use>
                                </svg>
                            </span>
                            <a href="mailto:ievsepl@gmail.com" class="contact-link">Ukraine, Kyiv</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Tech Skills-->
            <div class="tech-skills">
                <h3 class="sidebar-title">Tech Skills</h3>
                <ul class="tech-skills-list">
                    <li class="tech-skills-item"><span class="tech-skills-list">Selex (Leonardo)</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-list">SITTI</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-list">Vaisala</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-list">METAR</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-list">SIGMET</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-list">AIRMET</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-list">NOTAM</span></li>
                </ul>
            </div>
            <!--Soft Skills-->
            <div class="soft-skills">
                <h3 class="sidebar-title">Soft Skills</h3>
                <ul class="soft-skills-list">
                    <li class="soft-skills-item"><span class="soft-skills-list">Responsible</span></li>
                    <li class="soft-skills-item"><span class="soft-skills-list">Stress resistant</span></li>
                    <li class="soft-skills-item"><span class="soft-skills-list">Teamwork</span></li>
                    <li class="soft-skills-item">
                        <span class="soft-skills-list">Conflict resolution</span>
                    </li>
                    <li class="soft-skills-item"><span class="soft-skills-list">Concentration</span></li>
                    <li class="soft-skills-item"><span class="soft-skills-list">Multitasking</span></li>

                    <li class="soft-skills-item"><span class="soft-skills-list">Decision making</span></li>
                </ul>
            </div>
            <!--Language-->
            <div class="soft-skills">
                <h3 class="sidebar-title">Languages</h3>
                <ul class="soft-skills-list">
                    <li class="soft-skills-item">
                        <span span class="soft-skills-list"> Ukrainian - native</span>
                    </li>
                    <li class="soft-skills-item">
                        <span span class="soft-skills-list">Italian - native</span>
                    </li>
                    <li class="soft-skills-item">
                        <span span class="soft-skills-list">English - upper intermediate</span>
                    </li>
                </ul>
            </div>

            <div class="soft-skills">
                <h3 class="sidebar-title">Hobbies</h3>
                <ul class="soft-skills-list">
                    <li class="soft-skills-item"><span class="soft-skills-list">Sailing</span></li>
                    <li class="soft-skills-item"><span class="soft-skills-list">Painting</span></li>
                </ul>
            </div>
        </aside>
    </div>
</body>

</html>