<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/styles.css" <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  <title>Resume</title>
</head>

<body>
  <!--Main-->
  <div class="main">
    <!--Main content-->
    <div class="Main-content">
      <!--about user-->

      <div class="about">
        <h1 class="about-name">Ievgen Plakhotniuk</h1>

        <h2 class="about-position">COO</h2>
        <!-- <h3 class="title">Summary</h3>

          <p class="about-discription">
            I am a Junior Frontend Developer with about six months of practice experience, during
            which I performed both individual and team projects using technologies such as HTML5,
            CSS3, SASS, GIT, JavaScript, React, Webpack Parcel, Trello, Figma, etc. I had the
            opportunity to hold the position of Scrum master on one of the projects. I am currently
            looking for a job as a front-end developer in a company with the possibility to work
            remotely
          </p> -->
      </div>

      <!--projects-->

      <!--Work-->
      <div class="work">
        <h3 class="title">Work Experience</h3>
        <ul>
          <!--Company 1-->

          <!-- <li class="work-list">
              <p class="organization">Freelance</p>
              <p class="period">
                Травень 2017 - лютий 2022 <span class="line">|</span> Україна і Європа
              </p>

              <h4 class="work-position">Яхтовий капітан-інструктор</h4>
              <p class="work-list-item">
                Організація та проведення подорожей під вітрилами в Україні та за її межами
              </p>
              <p class="work-list-item">Проведення тренінгів та навчання майбутніх капітанів</p>
            </li> -->

          <!--Company 2-->
          <li class="work-list">
            <p class="organization">Company for the production of drones</p>
            <p class="period">sept 2023 -until now <span class="line">|</span> Kyiv, Ukraine</p>
            <h4 class="work-position">Production manager</h4>
            <p class="work-list-item">Organization and control of the production process from "scratch".</p>
            <p class="work-list-item">Purchase of components, materials, tools.</p>
            <p class="work-list-item">Conducting interviews and selection and work with personnel.</p>
            <p class="work-list-item">Participation in development, production and
              flight tests.</p>
            <p class="work-list-item">Development of auxiliary equipment for
              production</p>
            <p class="work-list-item">Development of technological documentation</p>
          </li>

          <!--Company 2-->
          <li class="work-list">
            <p class="organization">National aviation University</p>
            <p class="period">february 2018 -until now <span class="line">|</span> Kyiv, Ukraine</p>

            <h4 class="work-position">Head of the Yacht Club</h4>
            <p class="work-list-item">Administration of the work of the Yacht Club, organization of sailing events</p>
          </li>

          <!--Company 3-->

          <li class="work-list">
            <p class="organization">UkrSpecSystems</p>
            <p class="period">May 2017 - february 2018 <span class="line">|</span> Kyiv,Ukraine</p>

            <h4 class="work-position">Technological engineer</h4>

            <p class="work-list-item">Writing technological documentation</p>
            <p class="work-list-item">
              Work with composite materials and appropriate equipment
            </p>
          </li>

          <!--Company 4-->
          <li class="work-list">
            <p class="organization">LLC «Meridian» </p>
            <p class="period">January 2016 - December 2016 <span class="line">|</span>Kyiv, Ukraine</p>

            <h4 class="work-position">Engineer</h4>

            <p class="work-list-item">
              Production management at all stages of production of the experimental
              batches of UAVs (formation, assembly, assembly, adjustment,
              Flight tests, assembly)
            </p>
          </li>

          <!--Company 5-->
          <li class="work-list">
            <p class="organization">National aviation University</p>
            <p class="period">November 2013 - May 2017 <span class="line">|</span>Kyiv, Ukraine</p>

            <h4 class="work-position">Scientific employee</h4>

            <p class="work-list-item">
              Participation in UAV development, production and
              flight tests.
            </p>
            <p class="work-list-item">
              Management and optimization of the UAV production process, work with composite materials.
            </p>

            <p class="work-list-item">
              Writing of working design documentation, instructions for flight operation,
              technological documentation.
            </p>

          </li>
        </ul>
      </div>

      <!--Education-->

      <div class="education">
        <h3 class="title">Education</h3>
        <ul>
          <!-- <li>
            <h4 class="place-of-education">GoIT academy</h4>
            <p class="years-of-education">
              Червень 2022 - Квітень 2023<span class="line-edu">|</span> Україна
            </p>

            <h4 class="name-of-education">Full Stack Developer</h4>
            <ul class="ul">
              <li>JavaScript, React.js,Node.js,HTML5</li>
            </ul>
          </li> -->
          <li>
            <h4 class="place-of-education">National aviation University</h4>
            <p class="years-of-education">2010-2013 <span class="line-edu">|</span> Ukraine</p>
            <h4 class="name-of-education">Postgraduate studies - full-time student</h4>

            <ul class="ul">
              <li>Aerodynamics, Aircraft constructions</li>
            </ul>
          </li>
          <li>
            <h4 class="place-of-education">National aviation University</h4>
            <p class="years-of-education">2005-2010 <span class="line-edu">|</span> Ukraine</p>
            <h4 class="name-of-education">Master's degree of Air traffic controller</h4>
            <ul class="ul">
              <li>Air navigation, Aerodynamics, Aviation meteorology, Aircraft constructions, Simulator training</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!--Sidebar-->
    <aside class="sidebar">
      <!-- <img src="../img/Ievgen.jpg" alt="user's photo" width="150" class="photo" /> -->

      <!--Contact-->
      <div class="contacts">
        <h3 class="sidebar-title">Contacts</h3>
        <div>
          <ul>
            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-mobile"></use>
                </svg>
              </span>
              <a href="tel:+380970215563" class="contact-link">+380970215563</a>
            </li>
            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-mail"></use>
                </svg>
              </span>
              <a href="mailto:ievsepl@gmail.com" class="contact-link">ievsepl@gmail.com</a>
            </li>

            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-telegram"></use>
                </svg>
              </span>
              <a href="http://t.me/IevgenPlakhotniuk" class="contact-link">Telegram</a>
            </li>
            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-home"></use>
                </svg>
              </span>
              <a href="mailto:ievsepl@gmail.com" class="contact-link">Ukraine, Kyiv</a>
            </li>

            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-linkedin"></use>
                </svg>
              </span>
              <a href="https://www.linkedin.com/in/ievgen-plakhotniuk/" class="contact-link">Linkedin</a>
            </li>

            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-github"></use>
                </svg>
              </span>
              <a href="https://github.com/ievsepl?tab=repositories" class="contact-link">Github</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Tech Skills-->
      <div class="tech-skills">
        <h3 class="sidebar-title">Tech Skills</h3>
        <ul class="tech-skills-list">
          <li class="tech-skills-item">
            <span class="tech-skills-list">Composite material</span>
          </li>
          <li class="tech-skills-item">
            <span class="tech-skills-list">Формове обладнання</span>
          </li>
          <li class="tech-skills-item"><span class="tech-skills-list">Kompas</span></li>
          <li class="tech-skills-item"><span class="tech-skills-list">SolidWorks</span></li>
          <!-- <li class="tech-skills-item">
            <span class="tech-skills-list"> Mission planner</span>
          </li>

          <li class="tech-skills-item"><span class="tech-skills-list">JavaScript</span></li> -->
        </ul>
      </div>

      <!--Soft Skills-->
      <div class="soft-skills">
        <h3 class="sidebar-title">Soft Skills</h3>
        <ul class="soft-skills-list">
          <li class="soft-skills-item"><span class="soft-skills-list">Responsible</span></li>
          <li class="soft-skills-item"><span class="soft-skills-list">Stress resistant</span></li>
          <li class="soft-skills-item"><span class="soft-skills-list">Teamwork</span></li>
          <li class="soft-skills-item"><span class="soft-skills-list">Fast learning</span> </li>
          <li class="soft-skills-item"><span class="soft-skills-list">Analytical thinking</span></li>
          <li class="soft-skills-item"><span class="soft-skills-list">Leadership</span></li>

        </ul>
      </div>
      <!--Language-->
      <div class="soft-skills">
        <h3 class="sidebar-title">Languages</h3>
        <ul class="soft-skills-list">
          <li class="soft-skills-item">
            <span span class="soft-skills-list"> Ukrainian - native</span>
          </li>
          <li class="soft-skills-item">
            <span span class="soft-skills-list">Russian - native</span>
          </li>
          <li class="soft-skills-item">
            <span span class="soft-skills-list">English - intermediate</span>
          </li>
        </ul>
      </div>

      <div class="soft-skills">
        <h3 class="sidebar-title">Hobby</h3>
        <ul class="soft-skills-list">
          <li class="soft-skills-item"><span class="soft-skills-list">Sailing</span></li>
          <li class="soft-skills-item"><span class="soft-skills-list">Reading books</span></li>
        </ul>
      </div>
    </aside>
  </div>
</body>

</html>
<!--  -->
<!--  -->
<!-- Доброго дня. Мене звуть Євген. Я маю великий досвід у роботі, пов'язаній з БПЛА і готовий працювати та продовжувати розвиватися в даному напрямку. Радий буду долучитися до вашого колективу і впевнений, що зможу стати відмінним його доповненням. -->