<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/styles.css" <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  <title>Resume</title>
</head>

<body>
  <!--Main-->
  <div class="main">
    <!--Main content-->
    <div class="Main-content">
      <!--about user-->

      <div class="about">
        <h1 class="about-name">Євген Плахотнюк</h1>

        <h2 class="about-position">Керівник виробництва БПЛА</h2>
        <!-- <h3 class="title">Summary</h3>

          <p class="about-discription">
            I am a Junior Frontend Developer with about six months of practice experience, during
            which I performed both individual and team projects using technologies such as HTML5,
            CSS3, SASS, GIT, JavaScript, React, Webpack Parcel, Trello, Figma, etc. I had the
            opportunity to hold the position of Scrum master on one of the projects. I am currently
            looking for a job as a front-end developer in a company with the possibility to work
            remotely
          </p> -->
      </div>

      <!--projects-->

      <!--Work-->
      <div class="work">
        <h3 class="title">Досвід роботи</h3>
        <ul>
          <!--Company 1-->

          <!-- <li class="work-list">
              <p class="organization">Freelance</p>
              <p class="period">
                Травень 2017 - лютий 2022 <span class="line">|</span> Україна і Європа
              </p>

              <h4 class="work-position">Яхтовий капітан-інструктор</h4>
              <p class="work-list-item">
                Організація та проведення подорожей під вітрилами в Україні та за її межами
              </p>
              <p class="work-list-item">Проведення тренінгів та навчання майбутніх капітанів</p>
            </li> -->

          <!--Company 2-->
          <li class="work-list">
            <p class="organization">Компанія з виробництва безпілотників</p>
            <p class="period">вересень 2023 -до тепер <span class="line">|</span> Київ, Україна</p>
            <h4 class="work-position">Керівник виробництва</h4>
            <p class="work-list-item">Організація та контроль виробничого процесу з 'нуля'.</p>
            <p class="work-list-item">Закупівля комплектуючих, матеріалів, інструменту.</p>
            <p class="work-list-item">Проведення співбесід та підбір та робота з персоналом.</p>
            <p class="work-list-item">Участь в розробці, виробництві та
              льотних випробуваннях.</p>
            <p class="work-list-item">Проєктування та виготовлення допоміжного оснащення для
              виробництва.</p>
            <p class="work-list-item">Написання технологічної документації</p>
          </li>

          <!--Company 2-->
          <li class="work-list">
            <p class="organization">Національний авіаційний університет</p>
            <p class="period">лютий 2018 -до тепер <span class="line">|</span> Київ, Україна</p>

            <h4 class="work-position">Керівник Яхт-Клубу</h4>
            <p class="work-list-item">Організація та адміністрування роботи Яхт-Клубу</p>
            <!-- <p class="work-list-item">Робота з клієнтами</p> -->
            <p class="work-list-item">Організація та проведення вітрильних заходів</p>
            <!-- <p class="work-list-item">Організація документообігу</p> -->
          </li>

          <!--Company 3-->

          <li class="work-list">
            <p class="organization">UkrSpecSystems</p>
            <p class="period">травень 2017 - лютий 2018 <span class="line">|</span> Ukraine</p>

            <h4 class="work-position">Інженер-технолог</h4>

            <p class="work-list-item">Написання технологічної документації</p>
            <p class="work-list-item">
              Робота композитними матеріалами та відповідним обладнанням
            </p>
          </li>

          <!--Company 4-->
          <li class="work-list">
            <p class="organization">ВАТ «Меридіан» ім. С.П. Корольова</p>
            <p class="period">Січень 2016 - Грудень 2016 <span class="line">|</span> Ukraine</p>

            <h4 class="work-position">Інженер</h4>

            <p class="work-list-item">
              Керування виробництвом на всіх етапах виготовлення дослідної
              партії БПЛА (формування, збирання, монтаж, налаштування,
              Льотні випробування, комплектування)
            </p>
          </li>

          <!--Company 5-->
          <li class="work-list">
            <p class="organization">Національний авіаційний університет</p>
            <p class="period">Листопад 2013 - Травень 2017 <span class="line">|</span> Ukraine</p>

            <h4 class="work-position">Науковий співробітник</h4>

            <p class="work-list-item">
              Робота композитними матеріалами та відповідним обладнанням
            </p>

            <p class="work-list-item">
              Участь в розробці, виробництві та
              льотних випробуваннях.
            </p>
            <p class="work-list-item">
              Керування та оптимізація процесу виробництва БПЛА,
            </p>

            <p class="work-list-item">
              Написання робочої конструкторської документації, настанов з льотної експлуатації,
              технологічної документації.
            </p>

            <p class="work-list-item">Льотні випробування</p>
          </li>
        </ul>
      </div>

      <!--Education-->

      <div class="education">
        <h3 class="title">Освіта</h3>
        <ul>
          <li>
            <h4 class="place-of-education">GoIT academy</h4>
            <p class="years-of-education">
              Червень 2022 - Квітень 2023<span class="line-edu">|</span> Україна
            </p>

            <h4 class="name-of-education">Full Stack Developer</h4>
            <ul class="ul">
              <li>JavaScript, React.js,Node.js,HTML5</li>
            </ul>
          </li>
          <li>
            <h4 class="place-of-education">Національний авіаційний університет</h4>
            <p class="years-of-education">2010-2013 <span class="line-edu">|</span> Україна</p>
            <h4 class="name-of-education">Навчання в аспірантурі</h4>

            <!-- <h4 class="name-of-education">Основні направлення за спеціальністю:</h4> -->
            <ul class="ul">
              <li>Аеродинаміка, Конструкція літака</li>
            </ul>
          </li>
          <li>
            <h4 class="place-of-education">Національний авіаційний університет</h4>
            <p class="years-of-education">2005-2010 <span class="line-edu">|</span> Україна</p>
            <h4 class="name-of-education">
              Магістр за спеціальністю Обслуговування повітряного простору
            </h4>

            <!-- <h4 class="name-of-education">Основні направлення за спеціальністю:</h4> -->
            <ul class="ul">
              <li>
                Аеронавігація, Аеродинаміка, Авіаційна метеорологія ,Конструкція літака, Правила
                польотів
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!--Sidebar-->
    <aside class="sidebar">
      <!-- <img src="../img/Ievgen.jpg" alt="user's photo" width="150" class="photo" /> -->

      <!--Contact-->
      <div class="contacts">
        <h3 class="sidebar-title">Контакти</h3>
        <div>
          <ul>
            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-mobile"></use>
                </svg>
              </span>
              <a href="tel:+380970215563" class="contact-link">+380970215563</a>
            </li>
            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-mail"></use>
                </svg>
              </span>
              <a href="mailto:ievsepl@gmail.com" class="contact-link">ievsepl@gmail.com</a>
            </li>

            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-telegram"></use>
                </svg>
              </span>
              <a href="http://t.me/IevgenPlakhotniuk" class="contact-link">t.me/IevgenPlakhotniuk</a>
            </li>
            <li class="contact-list">
              <span class="contact-type">
                <svg width="20" height="20">
                  <use href="../img/icons.svg#icon-home"></use>
                </svg>
              </span>
              <a href="mailto:ievsepl@gmail.com" class="contact-link">Ukraine, Kyiv</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Tech Skills-->
      <div class="tech-skills">
        <h3 class="sidebar-title">Tech Skills</h3>
        <ul class="tech-skills-list">
          <li class="tech-skills-item">
            <span class="tech-skills-list">Композитні матеріали</span>
          </li>
          <li class="tech-skills-item">
            <span class="tech-skills-list">Формове обладнання</span>
          </li>
          <li class="tech-skills-item"><span class="tech-skills-list">Kompas</span></li>
          <li class="tech-skills-item"><span class="tech-skills-list">SolidWorks</span></li>
          <li class="tech-skills-item">
            <span class="tech-skills-list"> Mission planner</span>
          </li>

          <li class="tech-skills-item"><span class="tech-skills-list">JavaScript</span></li>
        </ul>
      </div>

      <!--Soft Skills-->
      <div class="soft-skills">
        <h3 class="sidebar-title">Soft Skills</h3>
        <ul class="soft-skills-list">
          <li class="soft-skills-item">
            <span class="soft-skills-list">Відповідальність </span>
          </li>
          <li class="soft-skills-item">
            <span class="soft-skills-list">Комунікабельність</span>
          </li>
          <li class="soft-skills-item"><span class="soft-skills-list">Швидке начання</span></li>
          <li class="soft-skills-item">
            <span class="soft-skills-list">Аналітичне мислення</span>
          </li>
          <li class="soft-skills-item"><span class="soft-skills-list">Лідерські якості</span></li>
        </ul>
      </div>
      <!--Language-->
      <div class="soft-skills">
        <h3 class="sidebar-title">Languages</h3>
        <ul class="soft-skills-list">
          <li class="soft-skills-item">
            <span span class="soft-skills-list"> Ukrainian - native</span>
          </li>
          <li class="soft-skills-item">
            <span span class="soft-skills-list">Russian - native</span>
          </li>
          <li class="soft-skills-item">
            <span span class="soft-skills-list">English - intermediate</span>
          </li>
        </ul>
      </div>

      <div class="soft-skills">
        <h3 class="sidebar-title">Хоббі</h3>
        <ul class="soft-skills-list">
          <li class="soft-skills-item"><span class="soft-skills-list">Вітрилінг</span></li>
          <li class="soft-skills-item"><span class="soft-skills-list">Книжки</span></li>
        </ul>
      </div>
    </aside>
  </div>
</body>

</html>
<!--  -->
<!--  -->
<!-- Доброго дня. Мене звуть Євген. Я маю великий досвід у роботі, пов'язаній з БПЛА і готовий працювати та продовжувати розвиватися в даному напрямку. Радий буду долучитися до вашого колективу і впевнений, що зможу стати відмінним його доповненням. -->